@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@100;200;300;400;500;600;700;800&family=Proxima+Nova:ital,wght@1,700&display=swap");

/*-----------------------------------
Basic Structure ---------------------
-------------------------------------
*/
* {
  font-family: "Proxima Nova", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------------
Web App Font Size -------------------
-------------------------------------
*/

html {
  font-size: 62.5%;
}

/*-----------------------------------
Reuse Variables ---------------------
-------------------------------------
*/

:root {
  --basic-gradient: linear-gradient(
    to top left,
    #00abc5,
    #008bbf,
    #00548b,
    #002561
  );
  --black-color: #000000;
  --white-color: #fbf7ec;
  --text-color: #2e2f31;
  --h1: 8rem;
  --basic-font-size: 1.7rem;
  --font-similar-big: 2rem;
  --similar-mini: 0.5rem;
  --similar: 1rem;
  --similar-mini-huge: 1.5rem;
  --similar-huge: 2rem;
  --similar-huge-big: 3rem;
  --gutter-x-mini: 4rem;
  --nav-height: 15vh;
}

/*-----------------------------------
WebApp Body Style -------------------
-------------------------------------
*/

body {
  color: var(--text-color);
  background-color: var(--white-color);
  font-size: var(--font-similar-big);
}

.row {
  max-width: 1140px;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: var(--black-color);
}

h1 {
  font-size: var(--h1);
}
header {
  background: linear-gradient(
      to bottom right,
      rgba(228, 228, 228, 0.599),
      rgba(229, 229, 229, 0.615)
    ),
    url(../public/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

nav {
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--similar-mini);
}

nav img {
  max-width: 80px;
  max-height: 80px;
}

nav div {
  display: flex;
  gap: var(--gutter-x-mini);
}

nav div a {
  text-decoration: none;
  font-size: var(--font-similar-big);
  color: inherit;
  font-weight: 500;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: var(--similar-mini-huge);
  padding: var(--similar);
  margin: auto;
  backdrop-filter: blur(15px);
  margin-top: var(--gutter-x-mini);
  box-shadow: 0 0 10px 2px #04040439;
  border-radius: var(--similar-mini-huge);
  height: calc(100vh - var(--nav-height));
  max-width: 60%;
  max-height: 70%;
}

.btn-dark {
  background: var(--basic-gradient);
  max-width: max-content;
  padding: var(--similar-mini) var(--similar-mini-huge);
  color: var(--white-color);
  font-weight: 600;
  text-decoration: none;
  border-radius: var(--similar-mini);
}
